/* Use comments
highlight a text, "cmd+/" to create comments */

body {
    background: rgb(221, 214, 239);
    color: rgb(23, 22, 22);
    font-family: 'Inter', sans-serif;
}

main {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 170px;
    line-height: 190px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-top: 300px;
    margin-bottom: 0px;
    margin-left: 100px

}

em {
    display: block;
    text-align: left;
    margin-left: 110px;
    margin-bottom: 400px;
}

h2 {
    line-height: 40px;
    text-align: center;
    margin-bottom: 450px;
    padding: 20px 80px;
    font-family: 'Inter', sans-serif;

}

h3 {
    font-size: 25px;
    margin-top: 60px;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: 50px;
    text-transform: uppercase;
}

p {
    line-height: 35px;
}

ul {
    line-height: 30px;
    list-style: square;
}

a {
    color: inherit;
    text-decoration: underline;
    transition: all 0.5s;
}

a:hover {
    color: rgb(83, 8, 149);
    font-size: 18px;
}